.button {
  height: 42px;
  padding: 8px 22px;
  background: var(--color-controls);
  border: none;
  border-radius: var(--border-radius);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.73;
  text-transform: uppercase;
  color: #fff;

  cursor: pointer;
  transition: background var(--transition-duration);
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.button:hover {
  background: #1976d2;
}
